* {
    margin: 0;
    padding: 0;
    background-image: url('fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  html {
    font-family: Poppins, Helvetica, sans-serif;
  }
  
  #canvas1 {
    width: 600px;
    height: 600px;
  }
  
  #animationDescription {
      font-size: xx-large;
      font-weight: bold;
  }
  